@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-slideLeft {
    @apply transition-all duration-1000 ease-in-out;
    opacity: 0;
    transform: translateX(-100%);
  }

  .animate-slideRight {
    @apply transition-all duration-1000 ease-in-out;
    opacity: 0;
    transform: translateX(100%);
  }

  .animate-slideUp {
    @apply transition-all duration-1000 ease-in-out;
    opacity: 0;
    transform: translateY(100%);
  }

  .slide-active .animate-slideLeft {
    opacity: 1;
    transform: translateX(0);
  }

  .slide-active .animate-slideRight {
    opacity: 1;
    transform: translateX(0);
  }

  .slide-active .animate-slideUp {
    opacity: 1;
    transform: translateY(0);
  }

  .swiper-pagination-bullet {
    @apply w-3 h-3 bg-white rounded-full opacity-100;
  }

  .swiper-pagination-bullet-active {
    @apply border-2 border-green-600;
  }
}
